
table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 0px;
    

}
tr#Header{

}
td#thu-cont{
    color: #e0f6ef;
    background-color: #6ab099;
}
td#lunchtime{
    column-span: 5;

}